body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-direction: column;
    width: 20em;
    height: 15em;
    padding:0.8em;
    background: rgba(255, 255, 255, 0.54);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.4px);
-webkit-backdrop-filter: blur(8.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
/* From https://css.glass */
background: rgba(255, 255, 255, 0.54);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.4px);
-webkit-backdrop-filter: blur(8.4px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
input{
    width: 16em;
    height: 2em;
    border-radius: 45px;
    border: 0.5px solid gray;
}

